/* CSS declarations go here */

.nav-wrapper a {
    margin-left: 10px;
}

.nav-wrapper li {
    margin-right: 10px;
}

#postq {
    margin-bottom: 10px;
}

a {
    cursor: pointer;
}

#modal1 {
    z-index: 99;
    width: 25%;
    text-align: center;
}

#erroron {
    margin-top: 15px;
}